{% extends 'base.html.twig' %}


{% block body %}
    <h1>Hello test</h1>
    {# un commentaire #}
    {%  set nom="Parishad" %}
    <h2>{{ nom | upper }}</h2>

    {#  créer un tableau #}
    {%  set colors = [] %}




    <div>Le tableau contient {{ colors | length }} couleurs</div>

    {% for color in colors %}
        <div style="background-color: {{ color }}">{{ color }}</div>
    {% else %}
        <div>le tableau de couleurs est vide</div>
    {% endfor %}

    {{ colors | join('/') }}

    {#  créer objet #}
    {% set book={
        'title': "Symfony",
        'author': "John Doe",
        'year': "2000"
    } %}
    <h3>{{ book.title  }}</h3>

    <div>
        {% for key, val in book %}
            <div>{{ key }} : {{ val }}</div>
        {% endfor %}

    </div>

    <p>{{ 'now' | date('d/m/Y H:i') }}</p>
    <p>{{ serie.title | raw }} - {{ serie.year }} - {{ autreVar }}</p>
{% endblock %}

{% block title %}
   {{ parent()}} | Test
{% endblock %}

